/* ---------------Tipografias--------------- */

$fuentePrimaria:'Zen Kaku Gothic Antique', sans-serif;
$fuenteSecundaria:'Nunito', sans-serif;

/* ---------------tamanio fuente--------------- */

$tamanioPrincipal: 50px;


/* ---------------Colores--------------- */

$colorPrincipal: #1d1d1f;
$colorSecundario: #424245;


/* ---------------Background color---------------*/

$backgroundPrimario:#fbfbfd;
$backgroundSecundario: #d2d2d7;




